:root{
    --americana:#fff8f1;
    --grisBoton:#5a4734;
    --botonback:#e6c4a2ad;
    --azulNavigate:#2743df;
    --negroLetras:black;
}
body{
    background-color: var(--americana);
}
.btn-float{
    display: flex;
    flex-direction: row;
    align-items:end;
    margin-bottom: 2%;
    margin-left: 1%;
    position: fixed;
    top: 90%;
    left: 2px;
    z-index: 10;
}

.btn-float>.btn{
    height: 55px;
    width: 55px;
    border-radius: 100%;
    border-width: 5px;
    border-color: var(--grisBoton);
    background-color: var(--botonback);
    color: var(--grisBoton);;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-float>.btn:hover{
       color: #fff8f1;
       background-color: var(--grisBoton);
}

.projects{
    margin-top: 3%;
}

h1{
    font-size: 3em;
    margin-top: 1%;
}

.inicio{
    width: 98%;
    margin:auto;
}
#pic1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 15em;
}
#pic1>img{
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#presentacion{
    margin-top: 2%;
    margin-bottom: 3%;
    height: fit-content;
}
#pic2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15em;
}
#pic2>img{
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.middle{
    display: flex;
    width: 95%;
    margin: auto;
}

#sobre-mi{
    margin:1%;
}
#pic3{
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    
}
#pic3>img{
    height: 90%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#left-text{
    text-align: left;
    border-right: 1px solid #333;
}

#right-text{
    text-align: end;
    border-left: 1px solid #333;

}
#pic4{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
#pic4>img{
    height: 90%;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card{
    margin:5%;
    padding: 5%;
    border-style: double;
    border-radius: 30px;
}

.projects{
    width: 98%;
    margin: 1% auto;
    z-index: 101;
}

.tecnologias{
    width: 98%;
    margin: auto;
}

@media (max-width: 426px){
    #right-text>h3,p{
        text-align: left;
    }

    #pic1>img{
        box-shadow: 0px 8px rgba(0, 0, 0, 0.3);
    }

    #pic2>img{
        box-shadow: 0px -8px rgba(0, 0, 0, 0.3);
    }

    #pic3>img{
        box-shadow: 0px 5px rgba(0, 0, 0, 0.3);
    }

    #pic4>img{
        box-shadow: 0px -5px rgba(0, 0, 0, 0.3);
    }

}

@media (max-width: 766px) {

    #projects{
        width: 40%;
    }
}